*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(168, 213, 228);
    display: block;
}
/*Decoracion del encabezado*/

#header{
    width: 100%;
}

.logo__div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(245, 232, 232, 0.829);
    border-bottom: 2px solid rgba(255, 255, 255, 0.856);
    height: 60px;
}

.logo_div, p{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
}

#header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 20px;
    margin: 10px;
}

.header__img{
    width: 35px;
}
.logo{
    width: 50px;
}
.text{
    color: rgb(13, 68, 105);
}
.logo{
    display: flex;
    margin: 15px;
}
.perfil{
    width:50px;
}
.search__input, #buscadorPlaca{
    display: flex;
    justify-content: center;
    border: none;
    height: 40px;
    width: 200px;
    border-radius: 16px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.search__input, #buscadorPlaca:hover{
    width: 300px;
    display: block;
    margin: auto;
    padding: 20px;

}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.main__div{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    padding: 10px;
    margin: 10px;
}
.imagen{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto__info{
    padding: 5px;
    margin: 10px;
    text-align: center;
    color: rgba(0, 0, 0, 0.915);
    font-size: 20px;
}
.boton__div{
    margin: 15%;
    padding:40px;
}
.boti{
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(235, 241, 243);
    background-color: rgb(206, 232, 241);
    
}
.cerrar{
    text-decoration: navajowhite;
    border: 1px solid white;
    background-color: rgb(221, 42, 42);
    border-radius: 10px;
    color: white;
    padding:8px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    font-family: Georgia, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
}
@media(min-width:800px){
    main{
        font-size:15px;
    }
    .main__div{
    border: 1px solid white;
    border-radius: 40px;
    background-color: rgba(245, 232, 232, 0.829);
    box-shadow: 5px 5px 5px 0px rgb(224, 214, 214) ;

}
.boti{
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(178, 210, 221);
    background-color: rgb(165, 219, 237);
    
}
}
.back{
    font-size: 60px;
    margin: 10px;
}


