/* Estilo para el Login*/
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(109, 175, 197, 0.788);
}
#header{
    display: flex;
}
.div__header{
    border: 1px solid white;
    background-color: rgba(245, 232, 232, 0.829);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

}
.logo{
    width: 45px;
}

.nombre__logo{
    color: rgb(54, 39, 39);
}
.imagene{
    display: flex;
    flex-direction: column;
}

#login__registrar{
    width: 400px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
}
#main{
    display: flex;

}

.letras{
    color: rgb(16, 16, 177);
    font-family: 160px;
}


.boton-registrarse{
    text-decoration: none;
}
.registross{
    border: 1px solid rgb(114, 191, 216);
    background-color: white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
}
.boton-ingres{
    display: flex;
    justify-content: center;
    padding: 0;
}
#boton{
    border: 1px solid  rgb(114, 191, 216);
    background-color: white;
    border-radius: 15px;
    
}

.new-registros{
    display: flex;
    justify-content:right;
    padding-top: 10px;
    padding-right: 50px;
}
#main{
    display: flex;
    justify-content: center;
}

@media (min-width:800px){
    .letras{
    color: rgb(16, 16, 177);
    margin: 15px;
}   #form{
    border: 1px solid white;
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 550px;
    border-radius: 10px;
    box-shadow: 5px 5px 5cqw 2px rgba(84, 129, 167, 0.932);
}  

}
@media (min-width: 480px){
    .letras{
        color: rgb(16, 16, 177);
        margin: 15px;
    }   #form{
        border-radius: 10px;
        display: flex;
        align-items: center;
        text-align: center;
    }  
    .boton-ingres{
        display: flex;
        justify-content: center;
    }
    #boton{
        border: 1px solid white;
        background-color: lightblue;
        width: 100px;
        height: 40px;
    }
    #clase1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .letras{
        align-items: center;
    }
    #nombre, #correo, #password{
        display: flex;
        border: 1px solid blue;
        justify-content: center;
        background-color: lightblue;
    }

}

/*Decoracion de la pagian de registrarse*/
#nombre1, #correo1, #password1{
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    background-color: lightblue;
}
#botoni{
    border: 1px solid  rgb(114, 191, 216);
    background-color: white;
    border-radius: 15px;
    width: 150px;
    height: 30px;
    
}
.logins{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}
.regresandos{
    display: flex;
    margin: 30px;
}
/* Estilo para la pagina para registar vehiculo*/
.head__div{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 15px 25px;
    width: 100%;
    
}

.Flecha{
    width: 35px;
}
.nombre__parqueo{
    color: rgb(4, 83, 136);
}
.div__logo{
    display: flex;
    margin: 15px;

}
.main{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 2px;
    min-width: calc(100hv-100px);
    gap: 30px;
}
#formulario{
    border-radius: 50px;
    border: 1px solid white;
    background-color: rgba(235, 241, 245, 0.918);
    width: 300px;
    height: 350px;
    min-height: 480px;
    border-radius: 10px;
    padding: 10px;
    display: block;
    justify-items: center;
}
.botons{
    background-color: rgb(64, 163, 196);
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px rgb(82, 186, 221);
    color: white;
    font-size: 15px;
    width: 100px;
    height: 50px;
    border: 1px solid white;
}
.texto{
    color: rgb(22, 71, 145);
    margin: 10px;
}

/*Decoracion de los vehiculos*/
.main__div{
    display:none;
}
@media(min-width:800px){
    .main__div{
    display: flex;
    border: 1px solid white;
    background-color: rgb(167, 207, 232);
    border-radius: 50px;
}
.vehiculo{
    width: 65px;
    display: inline-flex;
}
#boton{
    margin: 13px;
    border-radius: 5px;
    padding: 5px;
}
.seccion1{
    margin: 45px;
    padding: 20px;
}
.main__div{
    display: flex;
    border: 1px solid white;
    background-color: rgb(167, 207, 232);
    border-radius: 50px;
}
.subtitilo{
    text-align: center;
}
}

@media (min-width:768px){
    
}
.head{
    display: block;
    justify-items:center;

}
.head__d{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
}

