/* Estilo para el Login*/
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(174, 209, 221, 0.918);
}
#header{
    display: flex;
}
.div__header{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    padding:25px;

}
.logo{
    width: 45px;
}
.nombre__logo{
    color: rgb(54, 39, 39);
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login__registrar{
    border: 1px solid white;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 5px 5px 5cqw 2px rgba(8, 58, 99, 0.932);
    align-content: center;
    justify-items: center;
}
.letras{
    color: rgb(16, 16, 177);
}
input{
    border-radius: 5px;
    margin-bottom: 10px;
}
/* Estilo para la pagina para registar vehiculo*/
.head__div{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 15px 25px;
    width: 100%;
    
}

.Flecha{
    width: 35px;
}
.nombre__parqueo{
    color: rgb(4, 83, 136);
}
.div__logo{
    display: flex;
    margin: 15px;
}
.main{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 2px;
    min-width: calc(100hv-100px);
    gap: 30px;
}
#formulario{
    border-radius: 50px;
    border: 1px solid white;
    background-color: rgba(235, 241, 245, 0.918);
    width: 300px;
    height: 350px;
    min-height: 480px;
    border-radius: 10px;
    padding: 10px;
    display: block;
    justify-items: center;
}
.botons{
    background-color: rgb(64, 163, 196);
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px rgb(82, 186, 221);
    color: white;
    font-size: 15px;
    width: 100px;
    height: 50px;
    border: 1px solid white;
}
.texto{
    color: rgb(22, 71, 145);
    margin: 10px;
}
/*Decoracion de los vehiculos*/
.vehiculo{
    width: 65px;
    display: inline-flex;
}
#boton{
    margin: 13px;
    border-radius: 5px;
    padding: 5px;
}
.seccion1{
    margin: 45px;
    padding: 20px;
}
.main__div{
    display: flex;
    border: 1px solid white;
    background-color: rgb(167, 207, 232);
    border-radius: 50px;
}
.subtitilo{
    text-align: center;
}

